.vs
bin
bin-int
download_temp
*.sln
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
*.csproj
*.user
*.log
**/obj
.runtimes/

# Big assets, downloaded using tools/get_assets.py
Engine/assets/models/bistro
Engine/assets/models/cerberus

# Local only assets 
Engine/assets/models/skull